/* COLOR PALLETE: LIGHT BLUE #FFFFFA 
     AQUAMARINE #0D5C63 
     #44A1A0 
     #78CDD7 
     #247B7B */
nav{
    text-align: right;

}

#Summary_and_image{
    display: flex;
}
#Summary{
    display: inline-block;
    width: 66%;
}
#Personal_Image {
    padding: 2px;
    width: 33%;
    word-wrap: break-word;
}
#Header{
    display: inline-block;
    width: 100%;
    background-color: lightgrey;
    height: 100px;
}
#About_Me{
    text-align: center;
}
#My_Name{
    margin: auto;
}
#Left_Block {
    display: inline-block;
    background-color: lightseagreen;
    width: 15%;
}
#Center_Block{
    display: inline-block;
    width: 84%;
    margin-left: -3px;
}